<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的纸条</title>
    <!-- 移动设备优先 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
<div class="container mt-3">
    <div class="row">
        <div class="col-6 text-center">
            <button type="button" class="btn" id="in_tips" onclick="seePutTips()">我放入的纸条</button>
        </div>
        <div class="col-6 text-center">
            <button type="button" class="btn" id="out_tips" onclick="seeGetTips()">我抽到的纸条</button>
        </div>
    </div>
</div>
<div class="container" id="TipsHere">

</div>
</body>
</html>